.div3{
    background-color: beige;
    padding: 10px 10px 10px 20px;
}
form {
    padding: 10px 30px 20px 100px;
}
#th1 {
    width: 40%;
}
#TB3{
    text-align: center;
    align-items: center;
    align-content: center;
    border-color: black;
    border: 2 solid black;
}
.TH{
    background-color: rgb(187, 185, 187);
    width: 15%;
}
#tb4{
    border-color: black;
}
.tr{
    background-color: aliceblue;
}
.rowspan{
    text-align: left;
}